html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

a {
    color: #6F3455;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

a:hover {
    color: #a35e85;
}

body {
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.navbar-item {
    color: #6F3455;
    font-size: 2rem;
    margin-left: 4rem;
    font-family: "OpenSans-Bold";
    cursor: pointer;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.navbar-item img {
    height: 2rem;
    width: 3rem;
}

.hero {
    position: relative;
    height: 80rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("images/hero-image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;   
}

.hero .welcome {
    display: flex;
    width: 100%
}

.hero .welcome img {
    margin-top: 5rem;
    margin-left: 10rem;
}

.hero .ij {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: 100%
}

.hero .ij img {
    margin: 10rem;
}

.hero .date {
    display: flex;
    justify-content: flex-end;
    width: 100%
}

.hero .date img {
    margin-right: 10rem;
    margin-bottom: 5rem;
}

.section {
    font-family: "Walbaum-Light";
    width: 100%;
    display: flex;
    position: relative;
}

.section-ornament.left {
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 10%;
    background-image: url("images/floral-left.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.section-ornament.right {
    z-index: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 10%;
    background-image: url("images/floral-right.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.section-content {
    z-index: 10;
    display: flex;
    width: 100%;
    padding: 4rem;
}

.section-content-text {
    font-size: 2rem;
    margin-right: 6rem;
    flex-grow: 1;
}

.section-content img {
    height: 40rem;
}

#countdown-timer {
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    font-size: 2rem;
    display: flex;
    width: 100%;
}

#countdown-timer div {
    background-color: #E9E9E9;
    padding: 1rem;
    width: 25%;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

@media (max-width: 1000px) {
    .navbar {
        justify-content: flex-start;
    }
    .navbar-item {
        font-size: 4rem;
    }
    .navbar-item img {
        height: 3rem;
        width: 5rem;
    }
    .section-content {
        flex-wrap: wrap;
    }
    .section-content img {
        margin-top: 4rem;
        height: auto;
        width: 100%;
    }
    .section-content-text {
        font-size: 4rem;
        margin-right: 0;
    }
    #countdown-timer {
        font-size: 4rem;
        margin-bottom: 0;
    }
}

@font-face {
    font-family: 'Walbaum-Light';
    src:  url('fonts/Walbaum60ptLight.ttf') format('truetype'),
}

@font-face {
    font-family: 'OpenSans-Bold';
    src:  url('fonts/OpenSans_Condensed-Bold.ttf') format('truetype'),
}